<div class="webcontainer">
    <h1>Stationgram</h1>
    <%= button_to 'Upload a picture', new_photo_path, :method => "get" %>
</div>
<hr>

<!-- <%= form_tag(photos_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Pictures" %>
<%= submit_tag "Search" %> -->
<% end %>

<br>
<body>
<div>
<ul>
    <% @photos.each do |photo| %>
        <li>
            <strong> Caption: <%= photo.title %> </strong><br>
            <%= link_to image_tag(photo.url,:size => "500x500"), photo %><br>
            <!-- <%= link_to 'Edit', edit_photo_path(photo) %> |
            <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        </li>
        <br>
    <% end %>
</ul>
</div>
</body>

  <div class="footer">
    &copy; Arvin Hadisurya
  </div>

<br>
