<div class="webcontainer">
<h1>Meet Today's Football Superstar!</h1>

<hr>
<p id="notice"><%= notice %></p>
<br>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path, :class => 'back' %> |
<%= link_to 'New Picture', new_photo_path %>
<p>
  <strong>Name:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <%= image_tag @photo.url, :size => "300x500" %>
</p>




<div class="footer">
  &copy; Arvin Hadisurya
</div>


<div>
