<div class="webcontainer">
<h1>SMILEEE</h1>
<%= button_to 'Upload a picture', new_photo_path, :method => "get" %>
<hr>
<p id="notice"><%= notice %></p>
<br>

<!-- <%= link_to 'Edit', edit_photo_path(@photo) %> --> | 
<%= link_to 'Back', photos_path, :class => 'back' %> |

<p>
  <strong>Name:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <%= image_tag @photo.url, :size => "300x500" %>
</p>




<div class="footer">
  &copy; Arvin Hadisurya
</div>


<div>
